#game-options-container {
    max-width: 600px; //PROVISIONAL
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 2px solid black; //PROVISIONAL

    button {
        display: block;
        width: 100%;
        margin-bottom: 16px;
        padding: 4px 8px;
        border: 2px solid black;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        color: white; //PROVISIONAL
        background: blue; //PROVISIONAL

        //Hover
    }
}

#generations-container {
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid black; //PROVISIONAL

    h6 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
    }

    #generations-options {
        display: flex;
        flex-wrap: wrap;

        label {
            flex: 0 1 180px;
        }
    }
}
