.modal {
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    padding: 32px;
    z-index: 10;

    &.show {
        display: grid;
    }

    .modal-fade {
        position: fixed;
        inset: 0;
        background: rgba(#000, 0.8);
        z-index: inherit;
    }

    .modal-body {
        background-color: $secondary-color;
        border: 3px solid $primary-color;
        border-radius: 8px;
        max-width: 600px;
        min-width: 200px;
        padding: 16px;
        z-index: inherit;
    }

    .modal-header {
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            align-self: flex-start;
            margin-left: auto;
            padding: 12px;
            display: grid;
            place-items: center;
            background: none;
            border: none;
            color: $primary-color;
            font-size: 1.2rem;
            cursor: pointer;

            svg {
                pointer-events: none;
            }
        }
    }

    .modal-dialog {
        .modal-footer {
            margin-top: 16px;
            display: flex;
            justify-content: flex-end;

            button {
                margin-left: 16px;
                font-size: 0.9rem;
            }

            .cancel-btn {
                @include btn-base($terciary-color, $light-color);
            }

            .confirm-btn {
                @include btn-base($primary-color, $light-color);
            }
        }
    }
}
