$mainColor: #306ab1;
$mainColor-saturedTone: #4497fc;
$mainColor-desaturedTone: #6c90bd;
$mainColor-lightTone: #90c1fc;
$mainColor-superLightTone: #e9efff;
$mainColor-darkTone: #224b7d;
$mainColor-superDarkTone: #000a14;

$secondary-color: #f45a72;
$terciary-color: #e6cd51;
$light-color: #f4f4fa;
$dark-color: #212529;

$styled-font: 'Francois One', sans-serif;
