@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212529;
  background: #306ab1;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  #root {
    height: 100vh;
  }
}

.App {
  min-height: 100%;
  background-color: #e9efff;
  box-shadow: 0px 0px 5px 2px #224b7d;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, minMax(calc(50vh - 16px), auto));
  grid-template-areas: "pokeDisplay" "gameInterface";
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .App {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "pokeDisplay pokeDisplay pokeDisplay gameInterface gameInterface";
  }
}

#loading-screen {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
#loading-screen div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading-screen div img {
  display: block;
  width: 64px;
  transform-origin: bottom center;
  -webkit-animation: ball 3s infinite ease-in-out;
          animation: ball 3s infinite ease-in-out;
}
#loading-screen div span {
  color: #000a14;
  font-family: "Francois One", sans-serif;
  font-size: 2rem;
  margin-top: 16px;
}

@-webkit-keyframes ball {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes ball {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#error-page {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
#error-page div {
  max-width: 100%;
}
#error-page p {
  text-align: center;
  font-size: 1.2rem;
  color: #e9efff;
  margin-bottom: 16px;
}
#error-page button {
  width: 100%;
  font-size: 1rem;
  display: block;
  min-width: 64px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #f45a72, #f48f5a);
  border: none;
  border-radius: 64px;
  color: #e9efff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

#poke-display {
  grid-area: pokeDisplay;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#display-bg {
  display: block;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

#display-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-animation: display-animation 2s ease-in-out forwards;
          animation: display-animation 2s ease-in-out forwards;
}

@-webkit-keyframes display-animation {
  0% {
    top: 100%;
  }
  20% {
    top: -10%;
  }
  40% {
    top: 0;
    transform: scale(1);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes display-animation {
  0% {
    top: 100%;
  }
  20% {
    top: -10%;
  }
  40% {
    top: 0;
    transform: scale(1);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#ball-img,
#poke-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

#ball-img {
  -webkit-animation: ball-spin 2s linear forwards, ball-opacity 2s linear forwards;
          animation: ball-spin 2s linear forwards, ball-opacity 2s linear forwards;
}

@-webkit-keyframes ball-spin {
  0% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes ball-spin {
  0% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@-webkit-keyframes ball-opacity {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ball-opacity {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#poke-img {
  filter: brightness(0) drop-shadow(5px 5px #90c1fc);
  -webkit-animation: poke-opacity 2s linear forwards;
          animation: poke-opacity 2s linear forwards;
  transition: 1s;
}
#poke-img.show {
  filter: brightness(1) drop-shadow(5px 5px #90c1fc);
}

@-webkit-keyframes poke-opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes poke-opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#poke-name {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Francois One", sans-serif;
  font-size: 3rem;
  color: #000a14;
  text-transform: capitalize;
  letter-spacing: 4px;
  opacity: 0;
  transition: 0.2s;
}
#poke-name.show {
  bottom: 5%;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #poke-name {
    font-size: 4rem;
  }
}

.custom-checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  cursor: pointer;
  position: relative;
}
.custom-checkbox-label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.custom-checkbox-label .custom-checkbox-box {
  width: 16px;
  height: 16px;
  border: 2px solid #f45a72;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: 0.2s;
}
.custom-checkbox-label input:checked ~ .custom-checkbox-box {
  background: #f45a72;
}
.custom-checkbox-label .custom-checkbox-text {
  text-transform: capitalize;
  font-weight: bold;
  color: #000a14;
}

#game-interface {
  grid-area: gameInterface;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#guess-container {
  width: 100%;
  margin-bottom: 16px;
}
#guess-container form {
  width: 100%;
}
#guess-container form label {
  display: block;
}
#guess-container form label span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4px;
}
#guess-container form label .input-container {
  border: 3px solid #f45a72;
  font-size: 1.2rem;
  display: flex;
  overflow: hidden;
  border-radius: 64px;
}
#guess-container form label .input-container #guess-input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  font-size: inherit;
  font-weight: bold;
  color: #000a14;
  letter-spacing: 1px;
}
#guess-container form label .input-container button {
  display: grid;
  place-items: center;
  padding: 0 16px;
  background: #f45a72;
  border: none;
  border-radius: 0;
  font-size: 1.2rem;
  color: #f4f4fa;
  cursor: pointer;
}
#guess-container form label .input-container button svg {
  color: #e9efff;
}

#hint-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
#hint-container #hint-btn {
  display: block;
  min-width: 64px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #f45a72, #f48f5a);
  border: none;
  border-radius: 64px;
  color: #f4f4fa;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: 8px;
}
#hint-container #hint {
  color: #000a14;
  font-size: 1.2rem;
  font-weight: bold;
}

#controls-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "btn1 btn2" "btn3 btn3";
  grid-gap: 16px;
}
#controls-container button {
  display: block;
  min-width: 64px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #4497fc, #4d44fc);
  border: none;
  border-radius: 64px;
  color: #e9efff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
}
#controls-container button:nth-child(1) {
  grid-area: btn1;
}
#controls-container button:nth-child(2) {
  grid-area: btn2;
}
#controls-container button:nth-child(3) {
  grid-area: btn3;
  color: #224b7d;
  background: #90c1fc;
}
#controls-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#generations-container {
  border-radius: 8px;
}
#generations-container h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#generations-container #generations-options {
  display: flex;
  flex-wrap: wrap;
}
#generations-container #generations-options label {
  flex: 0 1 180px;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  padding: 32px;
  z-index: 10;
}
.modal.show {
  display: grid;
  place-items: center;
}

.modal-fade {
  position: fixed;
  inset: 0;
  background: rgba(0, 10, 20, 0.8);
  z-index: inherit;
}

.modal-body {
  background-color: #f4f4fa;
  border: 3px solid #306ab1;
  border-radius: 8px;
  max-width: 600px;
  min-width: 200px;
  padding: 16px;
  position: relative;
  overflow: hidden;
  z-index: inherit;
}
.modal-body .modal-corner {
  position: absolute;
  top: 0;
  right: 0;
  fill: #306ab1;
  width: 48px;
}

.btn-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-close-modal .close-icon {
  color: #e9efff;
}

.modal-header {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #6c90bd;
  color: #000a14;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-footer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.modal-footer button {
  margin-left: 16px;
  font-size: 0.9rem;
}
.modal-footer .btn-back {
  display: block;
  min-width: 64px;
  padding: 8px 16px;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0));
  border: none;
  border-radius: 64px;
  color: #224b7d;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #6c90bd;
}
.modal-footer .btn-confirm {
  display: block;
  min-width: 64px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #306ab1, #3730b1);
  border: none;
  border-radius: 64px;
  color: #f4f4fa;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */