#game-interface {
    grid-area: gameInterface;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .form-container {
        width: 100%;

        label {
            display: block;
            width: 100%;

            span {
                display: block;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 4px;
            }

            input {
                display: block;
                width: 100%;
                padding: 8px;
                font-size: 1.2rem;
                border: 3px solid $primary-color;
                border-radius: 8px;
            }
        }
    }

    .btn-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'btn1 btn2' 'btn3 btn3';
        grid-gap: 16px;

        button {
            @include btn-base($terciary-color, $light-color);

            &:nth-child(1) {
                grid-area: btn1;
            }

            &:nth-child(2) {
                grid-area: btn2;
            }

            &:nth-child(3) {
                grid-area: btn3;
                background: $dark-color;
            }
        }
    }
}

#generations-container {
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid $dark-color; //PROVISIONAL

    &.error-feedback {
        border: 2px solid $terciary-color;
    }

    h6 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    #generations-options {
        display: flex;
        flex-wrap: wrap;

        label {
            flex: 0 1 180px;
        }
    }
}
