#game-interface {
    grid-area: gameInterface;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#guess-container {
    width: 100%;

    #form-container {
        width: 100%;

        label {
            display: block;

            span {
                display: block;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 4px;
            }

            div {
                border: 3px solid $mainColor;
                font-size: 1.2rem;
                display: flex;
                overflow: hidden;
                border-radius: 64px;

                input {
                    display: block;
                    width: 100%;
                    padding: 8px 16px;
                    border: none;
                    font-size: inherit;
                    font-weight: bold;
                    color: $mainColor-superDarkTone;
                    letter-spacing: 1px;
                }

                button {
                    display: grid;
                    place-items: center;
                    padding: 0 16px;
                    background: $mainColor;
                    border: none;
                    border-radius: 0;
                    font-size: 1.2rem;
                    color: $light-color;
                    cursor: pointer;

                    svg {
                        color: $mainColor-superLightTone;
                    }
                }
            }
        }
    }

    #hint-container {
        margin-top: 16px;
        display: flex;
        align-items: center;

        #hint-btn {
            @include btn-base($mainColor-saturedTone, $light-color);
            margin-right: 8px;
        }

        #hint {
            color: $mainColor-superDarkTone;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

#controls-btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'btn1 btn2' 'btn3 btn3';
    grid-gap: 16px;

    button {
        @include btn-base($mainColor-saturedTone, $mainColor-superLightTone);
        transition: 0.5s;

        &:nth-child(1) {
            grid-area: btn1;
        }

        &:nth-child(2) {
            grid-area: btn2;
        }

        &:nth-child(3) {
            grid-area: btn3;
            color: $mainColor-darkTone;
            background: $mainColor-lightTone;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

#generations-container {
    border-radius: 8px;

    h6 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    #generations-options {
        display: flex;
        flex-wrap: wrap;

        label {
            flex: 0 1 180px;
        }
    }
}
